@model IEnumerable<Game>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<section class=" text-center">
    <div class="home container-fluid">
        <div class="col-lg-6 col-md-8 mx-auto text-light">
            <h1 class="home-G4U fw-light pt-5">G4U Store</h1>
            <h4 class="lead">The best game store in the world. I am not kidding. Have a look !</h4>
            <p>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <a href="https://localhost:7004/Identity/Account/Register" class="home-button btn btn-primary my-2">Create new account</a>
                }
            </p>
            <div class="hero-shadow"></div>
        </div>


    </div>
</section>


